@import "bootstrap/dist/css/bootstrap.css";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'vue3-toastify/dist/index.css';
@import 'vue-loading-overlay/dist/css/index.css';
@import "font.css";
@import "scrollbar.css";

:root {
  --main-system-color: #304081;
  --slider-width: 350px;
  --border-width-bold: 3px;
}

.bg-semi-dark {
    background-color: #343a40;
}

.h-55-px {
    height: 55px !important;
    min-height: 55px !important;
}

.h-100-vh {
    height: 100vh;
}

.border-bseu-bold {
    border-color: var(--main-system-color) !important;
    border-width: var(--border-width-bold) !important;
}

.main-system-color {
    color: var(--main-system-color);
}

.main-system-button {
    background-color: var(--main-system-color) !important;
    color: #ffffff !important;
    border: none !important;
}

.main-system-button:hover {
    background-color: #3d4b85 !important;
}
